/********************* GLOBALS & FONTS *********************/



/********************* USER STYLING *********************/

.fa-arrow-up {
    color: green;
}

.fa-arrow-down {
    color: red;
}

.positive {
    background-color: #A5DC86;
}

.negative {
    background-color: #F27474;
}

/********************* ADMIN STYLING *********************/

.fa-trash-o, .fa-pencil {
    cursor: pointer;
}

.modal-container {
    max-width: 75vw;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

