<div class="row stock-item" data-stockid="{{id}}">
    <div>
        <img class="col-md-1 logo-image" src="{{imgSrc}}">
        <div class="col-md-7 left-info ">
            <h3>{{title}}</h3>
            <p class="description">{{description}}</p>
        </div>
        <div class="col-md-3 right-info">
            <h4>Price</h4>
            <p class="price">{{price}}</p>
        </div>
    </div>
</div>





<!--
<div class="col-sm-6 col-md-4" data-stockId="{{id}}">
    <div class="thumbnail">
        <img src="{{imgSrc}}">
        <div class="caption">
            <h3>{{title}}</h3>
            <p class="description">{{description}}</p>
            <p class="price">{{price}}</p>
        </div>
    </div>
</div>-->
